[libdefaults]
  default_realm = {{ libdefaults.default_realm }}
  dns_lookup_kdc = {{ libdefaults.dns_lookup_kdc }}
  dns_lookup_realm = {{ libdefaults.dns_lookup_realm }}
  ticket_lifetime = {{ libdefaults.ticket_lifetime }}
  renew_lifetime = {{ libdefaults.renew_lifetime }}
  forwardable = {{ libdefaults.forwardable }}
  proxiable = {{ libdefaults.proxiable }}
  rdns = {{ libdefaults.rdns }}

[realms]
{% for realm, realm_config in realms.items() %}
  {{ realm }} = {
    kdc = {{ realm_config.kdc }}
    admin_server = {{ realm_config.admin_server }}
  }
{% endfor %}

[domain_realm]
{% for domain, realm in domain_realm.items() %}
  {{ domain }} = {{ realm }}
{% endfor %}
