[sssd]
domains = LDAP
services = nss, pam
config_file_version = 2

[domain/LDAP]
id_provider = ldap
auth_provider = ldap
ldap_uri = ldap://192.168.1.111
ldap_search_base = ou=development,dc=home
ldap_default_bind_dn = {{ ldap_admin_user }}
ldap_default_authtok = {{ ldap_admin_password }}
ldap_user_search_base = ou=People,ou=development,dc=home
ldap_group_search_base = ou=Groups,ou=development,dc=home
ldap_tls_reqcert = allow
enumerate = true
